<%- include("partials/header") %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">Yelp Campgrounds</a>
		<ul class="collapse navbar-collapse my-auto">
			<li class="d-inline mx-1">
				<a class="btn btn-info text-white">
					Log In
				</a>
			</li>
			<li class="d-inline mx-1">
				<a class="btn btn-info text-white">
					Sign Up
				</a>
			</li>
			<li class="d-inline mx-1">
				<a class="btn btn-info text-white">
					Log Out
				</a>
			</li>
		</ul>
</nav>

<!--End of Navbar-->

<div class="container">
	<header class="jumbotron">
		<h1 class="text-center display-3">
			Welcome to YelpCamp!
		</h1>
		<p class="text-muted text-center">
			You're probably here because your parents don't want you.
		</p>
	</header>
</div>




<a href="/campgrounds">See Campgrounds</a>
<br>
<a href="/campgrounds/new">Add Camps</a>

<%- include("partials/footer") %>