<%- include("partials/header") %>

<div class="container">
	<header class="jumbotron">
		<h1 class="text-center display-3">
			Welcome to YelpCamp!
		</h1>
		<p class="text-muted text-center">
			You're probably here because your parents don't want you.
		</p>
	</header>
</div>




<a href="/campgrounds">See Campgrounds</a>
<br>
<a href="/campgrounds/new">Add Camps</a>

<%- include("partials/footer") %>